#app {
    height: 100%;
}

.cloud-connector-logo {
    min-width: 100px;
}

.cloud-connector-search-input {
    width: 120px;

    .pf-c-search-input__icon {
        display: none;
    }

    .pf-c-search-input__text-input {
        padding-left: 8px;
    }
}

.cloud-connector-logo-text {
    color: white;
}

.cloud-connector-bottom-toolbar {
    .pf-c-toolbar__content-section {
        display: inline;
        width: 100%;
    }
}

.connections-toolbar {
    .pf-c-toolbar__content {
        padding: 0;
    }
}

.cloud-connector-overview-toolbar {
    .pf-c-dropdown__toggle-text {
        width: initial !important;
    }

    input.ins-c-conditional-filter {
        width: 230px;
    }

    .pf-c-toolbar__content-section {
        align-items: flex-end;
    }
}

.cloud-connector-inpage-client-input {
    max-width: 150px;

    .pf-c-search-input__icon {
        display: none;
    }

    .pf-c-search-input__text-input {
        padding-left: 8px;
    }
}

.cloud-connector-connection-search {
    max-width: calc(100% - 2 * var(--pf-global--spacer--lg));
}