#app {
    height: 100%;
}

.cloud-connector-logo {
    min-width: 100px;
}

.cloud-connector-logo-text {
    color: white;
}

.cloud-connector-bottom-toolbar {
    .pf-c-toolbar__content-section {
        display: inline;
        width: 100%;
    }
}