#app {
    height: 100%;
}

.cloud-connector-logo {
    min-width: 100px;
}

.cloud-connector-logo-text {
    color: white;
}

.cloud-connector-bottom-toolbar {
    .pf-c-toolbar__content-section {
        display: inline;
        width: 100%;
    }
}

.connections-toolbar {
    .pf-c-toolbar__content {
        padding: 0;
    }
}

.cloud-connector-overview-toolbar {
    .pf-c-dropdown__toggle-text {
        width: initial !important;
    }

    input.ins-c-conditional-filter {
        width: 230px;
    }
}